@config "../tailwind.config.js";
@import "tailwindcss";


@theme {
 --text-primary: 79px;
 --color-primarycolor:#0d6dbf;
 --color-secondarycolor:#01c0eb;
 --font-barlow:'Barlow', 'sans-serif';
}

@theme dark {
  --color-primarycolor: #d99126;      
  --color-secondarycolor: #d99126;
  --text-primary: 79px;
}
